<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-left">
                <hr>
                <h4>About Us</h4>
                <p>
                    Extendrum Technologies is an IT services and solutions provider. Founded in 2012 with a goal to provide customers with exemplary services utilizing out of the box thinking and approach handy with the latest tools and technologies and make things happen.
                </p>
                <ul class="social text-center inv_ul_margin">
                    <li><a href="https://www.facebook.com/" target="_blank"><img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("t1.png"))" /></i></a></li>
                    <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("t2.png"))" /></i></a></li>
                    <li><a href="https://vimeo.com/" target="_blank"><img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("t3.png"))" /></i></a></li>
                    <li><a href="https://dribbble.com/" target="_blank"><img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("t4.png"))" /></i></a></li>
                    <li> <a href="https://plus.google.com/" target="_blank"><img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("t5.png"))" /> </a> </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 text-left">
                <hr>
                <h4>Twitter Feed</h4>
                <div class="row no-margin twitter-feed">
                    <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("tweet.png"))" />
                    <div class="content">
                        <p class="white">
                            @@extendrum Getting our hands on new clients. 
                            Adding another industry to our expertise.
                        </p>
                        <p>1 weeks Ago</p>
                    </div>
                </div>
                <div class="row no-margin twitter-feed">
                    <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("tweet.png"))" />
                    <div class="content">
                        <p class="white">
                            @@extendrum crafting our long awaited, exciting travel category app 
                        </p>
                        <p>4 weeks Ago</p>
                    </div>
                </div>
            </div>
             @*<div class="col-md-3 col-sm-6 text-left">
                    <div class="flickr-gallery">
                        <hr>
                        <h4>Photo Stream</h4>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728620682_e97662da63_s.jpg"))" width="88" height="88" alt="flickr1" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728620682_e97662da63.jpg"))' data-rel="prettyPhoto" title="View flickr1"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /></a></div>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22753380071_539781cdf3_s.jpg"))" width="88" height="88" alt="flickr6" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22753380071_539781cdf3.jpg"))' data-rel="prettyPhoto" title="View flickr6"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22716160846_a60a152e4d_s.jpg"))" width="88" height="88" alt="flickr5" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22716160846_a60a152e4d.jpg"))' data-rel="prettyPhoto" title="View flickr5"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /></a> </div>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22742168545_d2aae4907e_s.jpg"))" width="88" height="88" alt="flickr4" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22742168545_d2aae4907e.jpg"))' data-rel="prettyPhoto" title="View flickr4"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /></a> </div>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22554260110_11b0f5b41c_s.jpg"))" width="88" height="88" alt="flickr3" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22554260110_11b0f5b41c.jpg"))' data-rel="prettyPhoto" title="View flickr3"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /></a> </div>
                        <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728622192_b8365d9ea8_s.jpg"))" width="88" height="88" alt="flickr2" class='fadein' /> <a class="overlay" target='_blank' href='@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728622192_b8365d9ea8.jpg"))' data-rel="prettyPhoto" title="View flickr2"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    </div>
                </div>*@
            <!-- <div class="col-md-3 col-sm-6 text-left">
                <div class="flickr-gallery">
                    <hr>
                    <h4>Our Partners</h4>
                    <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728620682_e97662da63_s.jpg"))" width="88" height="88" alt="flickr1" class='fadein' /> <a class="overlay" target='_blank' href='http://www.microsoft.com/en-in/' data-rel="prettyPhoto" title="View flickr1"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22753380071_539781cdf3_s.jpg"))" width="88" height="88" alt="flickr6" class='fadein' /> <a class="overlay" target='_blank' href='http://fusioncreative.com/' data-rel="prettyPhoto" title="View flickr6"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    <div class="f-img"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22716160846_a60a152e4d_s.jpg"))" width="88" height="88" alt="flickr5" class='fadein' /> <a class="overlay" target='_blank' href='http://www.bluearchtech.com/' data-rel="prettyPhoto" title="View flickr5"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    <div class="f-img foterfb"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22742168545_d2aae4907e_s.jpg"))" width="88" height="88" alt="flickr4" class='fadein' /> <a class="overlay" target='_blank' href='http://spotcolormarketing.com/' data-rel="prettyPhoto" title="View flickr4"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    <div class="f-img foterfb"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22554260110_11b0f5b41c_s.jpg"))" width="88" height="88" alt="flickr3" class='fadein' /> <a class="overlay" target='_blank' href='http://www.officepickempool.com/' data-rel="prettyPhoto" title="View flickr3"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                    <div class="f-img foterfb"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("22728622192_b8365d9ea8_s.jpg"))" width="88" height="88" alt="flickr2" class='fadein' /> <a class="overlay" target='_blank' href='http://nexfirm.com/' data-rel="prettyPhoto" title="View flickr2"> <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("footersearch.png"))" /> </a> </div>
                </div>
            </div> -->

            <div class="col-md-3 col-sm-6 text-left contact">
                <hr>
                <h4>Get In Touch</h4>
				<div class="row no-margin">
					<img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("home.png"))" />
					<a href="@Url.Action("Index","ContactUs")#map">
					<p class="white">
						11340 SW 60th Ave,<br />
						Portland, OR 97219<br />
						
						
					</p>
					</a>
				</div>
                <div class="row no-margin">
					<img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("postal.png"))" />
                    <a href="@Url.Action("Index","ContactUs")#map">
                        <p class="white">
                            6627 NW 165th ave,<br />
                            Portland, OR 97229<br />


                        </p>
                    </a>
                </div>
                <div class="row no-margin">
                    <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("call.png"))" />
                    <p class="white">
                        +1 503 575 3267
                        
                    </p>
                </div>
                <div class="row no-margin">
                    <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("fax.png"))" />
                    <p class="white">+1 503 768 4262</p>
                </div>
                <div class="row no-margin">
                    <img src="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("email.png"))" />
                    <p class="white">sales@extendrum.com</p>
                </div>
            </div>

        </div>
    </div>
    <div class="invo_bottom_footer">
        <div class="container text-center">
            <div class="row">
                <p class="copyright">Copyright © 2016-2017 Extendrum. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
