<!DOCTYPE html>
<html class="no-js" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta name="description" content="Extendrum Technologies provides extraordinary IT Services (Development and Consulting), Training and Hosting for SharePoint, CRM, eCommerce and Shipping solutions. " />
    <meta name="keywords" content="SharePoint, Microsoft CRM, Microsoft Dynamics, SharePoint School, eCommerce and Shipping, Integgris, Aivea, EiQ Point, SharePoint Training, SharePoint Development" />
    <meta name="author" content="Extendrum.com" />
    <link rel="shortcut icon" href="@Url.Content("~/Include/images/" + System.IO.Path.GetFileName("ex.png"))" />

    @*<link rel='stylesheet' id='boldthemes_style_css-css' href="css/style.crushc1f9.css" type='text/css' media='all' data-viewport-units-buggyfill='ignore' />
    <script type='text/javascript' src='js/jqueryc1d8.js?ver=1.11.3'></script>
    <script type='text/javascript' src='js/modernizr.customc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='js/miscc1f9.js?ver=4.4.2'></script>
    <style type="text/css">
        body {
            font-family: 'gothic';
        }
    </style>
    <link rel='stylesheet' id='invory-bootstrap-css' href='css/bootstrap68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='invory-style-css' href='css/style68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' href="css/font.css" type='text/css' media='all' />
    <title>Extendrum</title>
    <link rel='stylesheet' id='hgr-vc-extender-style-css' href='css/hgr-vc-extender-elements.minc1f9.css?ver=4.4.2' type='text/css' media='all' />

    <link rel='stylesheet' id='hatch_fontawesome-css' href="css/fonts/font-awesome.min2fab.css" type='text/css' media='all' />


    <link rel='stylesheet' id='hatch_style-css' href='css/stylec1f9.css?ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='css/js_composer.minc422.css?ver=4.11.1' type='text/css' media='all' />
    <script type='text/javascript' src='js/jqueryc1d8.js?ver=1.11.3'>
    </script>*@
    @RenderSection("CssScripts", false)
</head>
<body class="home page page-id-6 page-parent page-template-default wpb-js-composer js-comp-ver-4.11.1 vc_responsive">
    <!------------ header start ---------------->
    @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    <!------------ header over ---------------->
    <!------------ top slaiding start ---------------->
   
    @RenderBody()

    <!------------ footer start ---------------->
    @Html.Partial("~/Views/Shared/_FooterPartial.cshtml")
<!------------ footer over ---------------->

    @RenderSection("Scripts", false)
    
</body>
</html>